@tailwind base;
@tailwind components;
@tailwind utilities;
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.red-border {
  border: 1px solid red;
}
body {
  @apply bg-slate-300;
}
.left-sidebar {
  @apply w-3/12 bg-white hidden;
}
.main-container {
  @apply px-2 pb-8 w-full flex flex-col gap-4 relative h-full;
}
.pannel {
  @apply w-full max-w-2xl rounded-tl-lg flex items-center  flex-col gap-4 p-2 pb-4;
}
.max-width {
  @apply max-w-7xl;
}
p {
  @apply text-slate-500;
}
.blur-back {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.test {
  width: clamp();
}
@media screen and (max-width: 600px) {
  .w {
    width: calc(100vw - 20px);
  }
}
